<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Club Card Hombre</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div>
        <tabset>
          <tab heading="Frequent ({{ data.frequentPurchases.length }})" id="tab1">
            <h4 class="mt-4 mb-2">Frequent Items</h4>
            <p>Following are items you purchase a lot.</p>
            <table class="table table-hover">
              <thead>
                <th>Item</th>
                <th>Name</th>
                <th>Last Purchased</th>
                <th>Add</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of data.frequentPurchases">
                  <td><input class="form-check form-check-inline" type="checkbox" value="" id="item{{ i + 1 }}"></td>
                  <td>{{ item.upcDescription }}</td>
                  <td>{{ item.lastPurchased }}</td>
                  <td><button class="btn-default" tooltip="Add to Shopping List"><i class="fa fa-list"></i></button></td>
                </tr>
              </tbody>
            </table>
          </tab>
          <tab heading="Last 30 Days ({{ data.last30days.length }})" id="tab2">
            <h4 class="mt-4 mb-2">Past 30 Days</h4>
            <p>These are items you purchased with in the last month or so,</p>
            <table class="table table-hover">
              <thead>
                <th>Item</th>
                <th>Name</th>
                <th>Last Purchased</th>
                <th>Add</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of data.last30days">
                  <td><input class="form-check form-check-inline" type="checkbox" value="" id="item{{ i + 1 }}"></td>
                  <td>{{ item.upcDescription }}</td>
                  <td>{{ item.lastPurchased }}</td>
                  <td><button class="btn-default" tooltip="Add to Shopping List"><i class="fa fa-list"></i></button></td>
                </tr>
              </tbody>
            </table>
          </tab>
          <tab heading="Over 30 Days ({{ data.over30days.length }})" id="tab3">
            <h4 class="mt-4 mb-2">Over 30 Days</h4>
            <p>These are items you have not purchased in a while.</p>
            <table class="table table-hover">
              <thead>
                <th>Item</th>
                <th>Name</th>
                <th>Last Purchased</th>
                <th>Add</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of data.over30days">
                  <td><input class="form-check form-check-inline" type="checkbox" value="" id="item{{ i + 1 }}"></td>
                  <td>{{ item.upcDescription }}</td>
                  <td>{{ item.lastPurchased }}</td>
                  <td><button class="btn-default" tooltip="Add to Shopping List"><i class="fa fa-list"></i></button></td>
                </tr>
              </tbody>
            </table>
          </tab>
          <tab heading="All Purchases ({{ data.clubcard.length }})" id="tab4">
            <h4 class="mt-4 mb-2">Everything</h4>
            <p>This is everything you have purchases ad infinitum.</p>
            <table class="table table-hover">
              <thead>
                <th>Item</th>
                <th>Name</th>
                <th>Last Purchased</th>
                <th>Add</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of data.clubcard">
                  <td><input class="form-check form-check-inline" type="checkbox" value="" id="item{{ i + 1 }}"></td>
                  <td>{{ item.upcDescription }}</td>
                  <td>{{ item.lastPurchased }}</td>
                  <td><button class="btn-default" tooltip="Add to Shopping List"><i class="fa fa-list"></i></button></td>
                </tr>
              </tbody>
            </table>
          </tab>
        </tabset>
      </div>
    </div>
