<nav class="navbar navbar-expand-lg">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/clubcard" class="nav-link">Purchase History</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list" class="nav-link">
				<i class="fa fa-list"></i> My List <span class="badge">3</span>
			</a>
      </li>
      <li class="nav-item">
        <a routerLink="/cart" class="nav-link">
				<i class="fa fa-shopping-cart"></i> My Cart <span class="badge">12</span>
			</a>
      </li>
    </ul>
  </div>
</nav>
